<div class="container section">
  <div class="row">
        <!-- Introduction Section -->
        <div class="col-12 col-lg-7 d-flex flex-column align-items-start">
          <div class="">
            <div class="intro-text">
              <div [innerHTML]="labels.about.intro"></div>
              <div [innerHTML]="labels.about.resume"></div>
            </div>
            <div class="d-flex flex-column align-items-center justify-content-center statement">
              <div [innerHTML]="labels.about.statement"></div>
            </div>
          </div>
          
          </div>
    <!-- Skills Section -->
    <div class="skills-section col-12 col-lg-5">
      <div class="skills-container">
        <mat-card class="skills-card">
          <mat-card-header>
            <mat-card-title
              ><h3 class="section-title">Hard Skills</h3></mat-card-title
            >
          </mat-card-header>
          <mat-card-content>
            <mat-chip-listbox class="mat-mdc-chip-set-stacked">
              <mat-chip *ngFor="let skill of hardSkills">{{ skill }}</mat-chip>
            </mat-chip-listbox>
          </mat-card-content>
        </mat-card>
        <mat-card class="skills-card">
          <mat-card-header>
            <mat-card-title
              ><h3 class="section-title">Soft Skills</h3></mat-card-title
            >
          </mat-card-header>
          <mat-card-content>
            <mat-chip-listbox class="mat-mdc-chip-set-stacked">
              <mat-chip *ngFor="let skill of softSkills">{{ skill }}</mat-chip>
            </mat-chip-listbox>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
