<div class="container">
    <div class="row">
        <div class="col-12 col-md-7 align-items-center">
            <h1>Hello, nice to meet you here</h1>
            <p> My name is Agata and I love beatiful things and efficiency.<br>
                I am a Frontend Developer and a Graphic Designer and my goal is to help clients <strong>grow</strong>.
                To do that I try to <strong>improve</strong> myself constatly.
                I strongly belive the best way to improve oneself is to <strong>share</strong> knowledge and
                expieriences.<br>
                Also I am pretty excited about AI!<br>
            </p>
            <br> To know my expieriences please get my <a class="text-underline" href="./../../assets/agata_wisniewska_resume_Aug2023.pdf" target="_blank">resume</a>.
        </div>
        <div class="col-12 col-md-5 statement">
            <h2>Share / </h2><h2>Improve</h2>
            <h2>/ Grow</h2>
        </div>
    </div>
</div>