.cover-bg {
    position: absolute;
    height: 67%;
    width: 100%;
    top: 0;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 57px;
    z-index: -99;

    @media (min-width: 992px) {
        height: 100vh;
        width: 55%;
        margin-bottom: 0;
        bottom: 0;
    }
}

a {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: underline;
}

mat-card {
    margin: 0 auto;

    @media (min-width: 992px) {
        width: 80%;
        margin-left: auto;
        margin-right: 0;
    }

    font-size: 12px;
    background-color: #F1EFE7;
    padding: 25px;

    button {
        display: block;
        margin-right: 0;
        margin-left: auto;
    }
}

.img-wrapper {
    margin: 20px auto;
    text-align: center;
    display: flex;
    height: 25%;

    @media (min-width: 992px) {
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    img {
        max-width: 390px;
        max-height: 183px;
        margin: 0 auto;
        margin-top: 20px;
        justify-content: center;
        
        @media (min-width: 992px) {
            margin-top: 0;
        }
    }
}