<div class="container section">
    <div class="row">
        <div class="col-12 col-lg-6 justify-content-center align-items-center">
            <div>
                <h3>It will be nice to hear from you</h3>
                Feedback. Job offers. Friendship. Everything is welcome!<br>
                <a class="text-underline" href="mailto:agataw.dev@gmail.com" target="_blank"
                    rel="noopener noreferrer">agataw.dev&#64;gmail.com</a>
            </div>
            <div class="img-wrapper">
             <div id="logo_aw"></div>
            </div>
        </div>
        <div class="col-12 col-lg-6 justify-content-center justify-content-lg-end align-items-center">
            <mat-card>
                <h5 class="text-center text">Contact Me</h5>
                <form #contactForm="ngForm" (ngSubmit)="sendEmail(contactForm, $event)">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" name="name" ngModel required
                               #name="ngModel" [class.is-invalid]="name.invalid && name.touched">
                        <div *ngIf="name.invalid && name.touched" class="invalid-feedback">
                            Name is required.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" ngModel required email
                               pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                               #email="ngModel" [class.is-invalid]="email.invalid && email.touched">
                        <div *ngIf="email.errors?.['required'] && email.touched" class="invalid-feedback">
                            Email is required.
                        </div>
                        <div *ngIf="email.errors?.['email'] && email.touched" class="invalid-feedback">
                            Please enter a valid email address.
                        </div>
                        <div *ngIf="email.errors?.['pattern'] && email.touched" class="invalid-feedback">
                            Email format is invalid.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message">Message:</label>
                        <textarea class="form-control" id="message" name="message" ngModel required
                                  #message="ngModel" [class.is-invalid]="message.invalid && message.touched"></textarea>
                        <div *ngIf="message.invalid && message.touched" class="invalid-feedback">
                            Message is required.
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid">Submit</button>
                </form>
                

            </mat-card>
        </div>
    </div>
    <div class="cover-bg">
    </div>
</div>