<div class="container section">
    <div class="row">
      <div class="col-12 col-lg-6 justify-content-center align-items-center">
        <div [innerHTML]="labels.contact.description"></div>
      </div>
      <div class="col-12 col-lg-6 justify-content-center justify-content-lg-end align-items-center">
        <mat-card>
          <div [innerHTML]="labels.contact.formTitle"></div>
          <form #contactForm="ngForm" (ngSubmit)="sendEmail(contactForm, $event)">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" class="form-control" id="name" name="name" ngModel required>
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" name="email" ngModel required email>
            </div>
            <div class="form-group">
              <label for="message">Message:</label>
              <textarea class="form-control" id="message" name="message" ngModel required></textarea>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid">Submit</button>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
  