<div class="container section">
    <div class="row">
      <div class="col-12">
        <h2>Projects</h2>
        <div [innerHTML]="labels.projects.description"></div>
      </div>
      <div class="col-12 col-lg-6 ml-auto">
        <div>
          <h3>Backend Development</h3>
          <div [innerHTML]="labels.projects.backendDescription"></div>
        </div>
      </div>
      <div class="col-12 col-lg-6 ml-auto">
        <div>
          <h3>Angular Framework</h3>
          <div [innerHTML]="labels.projects.angularDescription"></div>
        </div>
      </div>
      <div class="col-12 col-lg-6 mr-auto">
        <div>
          <h3>Fullstack on the way</h3>
          <div [innerHTML]="labels.projects.fullstackDescription"></div>
        </div>
      </div>
    </div>
  </div>
  