<div class="container section">
    <div class="row">
        <div class="col-12">
            <h2>Projects</h2>
        </div>
        <div class="col-12">
            <p>While I worked on several big projects as <a href="https://www.moncler.com" target="_blank"
                rel="noopener noreferrer">Moncler</a>, <a href="https://www.moncler.com" target="_blank"
                rel="noopener noreferrer">Iren</a>, <a href="https://www.windtrebusiness.it/" target="_blank"
                rel="noopener noreferrer">WindTreBusiness</a> and <a href="https://www.dainese.com/" target="_blank"
                rel="noopener noreferrer">Dainese</a>- in this section you can explore
                my
                capabilities in action through my personal projects or projects I developed for learning purposes.</p>
        </div>
        <div class="col-12 col-lg-6 ml-auto">
            <div>
                <h3>Backend development</h3>
                <p>
                    In 2024, I embarked on an exciting journey to learn Java and delve into backend development. I participated in a comprehensive <a href="https://tree.it/java-back-end-developer-mp-2024/" target="_blank">Java Backend Developer Course</a>, totaling 250 hours. Throughout the course, I explored various technologies, from Java SE and Struts to EJB and Spring. You can view the code I developed on <a class="text-underline" href="https://github.com/agw123" target="_blank" rel="noopener noreferrer">GitHub</a>. Additionally, I utilize MySQL/PostgreSQL for database management and Postman for testing REST APIs.
                </p>
                
            </div>
            <div class="grid second">
                <img width="50px" src="./../../assets/Java_Logo.png" alt="Java logo">
                <img width="100px" src="./../../assets/Spring_Logo.png" alt="Spring logo">
            </div>
        </div>
        <div class="col-12 col-lg-6 ml-auto">
            <div>
                <h3>Angular Framework</h3>
                <p>My portfolio website you're navigating just now is made in Angular 16. Both the design and coding was
                    made by me. I used Bootstrap and Angular Material for styling.
                </p>
                <p>You can see the source code <a class="text-underline" href="https://github.com/agw123/resume"
                        target="_blank" rel="noopener noreferrer">here</a>.</p>
            </div>
            <div class="grid second">
                <img width="50px" src="./../../assets/angular_logo.svg" alt="Angular logo">
                <img width="40px" src="./../../assets/material_logo.svg" alt="Angular material logo">
                <img height="40px" src="./../../assets/Bootstrap_logo.svg" alt="Bootstrap logo">
                <img height="40px" src="./../../assets/ts-logo-128.png" alt="Typescript logo">
            </div>
        </div>
        <div class="col-12 col-lg-6 mr-auto">
            <div>
                <h3>Fullstack on the way</h3>
                <p>At some point, while working as Frontend developer I really wanted to know what's underneath the frontend and I learnt some Node.js and MongoDB and
                    I made this simple to do list.</p>
                <a class="text-underline" href="https://doit-todolistapp.onrender.com/" target="_blank"
                    rel="noopener noreferrer">DOIT - To Do List App</a>
                <br><br>
                <p>You can see the source code on my <a class="text-underline"
                        href="https://github.com/unobjectivepoint/ToDoList" target="_blank"
                        rel="noopener noreferrer">Github</a>.</p>
                <div class="grid first">
                    <img width="100px" src="./../../assets/Node.js_logo.svg" alt="Nodejs logo">
                    <img width="120px" src="./../../assets/expressjs_logo.svg" alt="Expressjs logo">
                    <img width="100px" src="./../../assets/MongoDB_Logo.svg" alt="MongoDB logo">
                    <span class="mongoose-logo-text">mongoose<img width="62px"
                            src="./../../assets/mongoose5_62x30_transparent.png" alt="mongoose_logo"></span>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>