<div class="container mt-4">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2>Fullstack on the way</h2>
            <p>So, yes I really wanted to know what's underneath the frontend and I learnt some Node.js and MongoDB and
                I made this simple to do list.</p>
            <a class="text-underline" href="https://doit-todolistapp.onrender.com/" target="_blank"
                rel="noopener noreferrer">DOIT - To Do List App</a>
            <br><br>
            <p>You can see the source code on my <a class="text-underline"
                    href="https://github.com/unobjectivepoint/ToDoList" target="_blank"
                    rel="noopener noreferrer">Github</a>.</p>
        </div>
    </div>
</div>