nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu-links a {
        font-size: 20px;
        font-weight: bold;
        padding: 15px;
        text-decoration: none;
    }
}

.contacts-icons {
    position: fixed;
    z-index: 999999;
    top: 15px;
    right: 20px;
    @media (min-width: 601px) {
        position: static;
        display: flex;
        margin-bottom: 100px;
        padding: 20px 0;
    }
}

mat-icon {
    margin: 0 10px;
    color: white;
    outline: none;
    @media (min-width: 601px) {
        color: inherit;
    }
}

.menu-mobile {
    display: none;

    @media (max-width: 600px) {
        display: block;

        mat-toolbar {
            position: fixed;
            top: 0;
            z-index: 9999;
        }
    }
}

.menu-desktop {
    display: none;

    @media (min-width: 601px) {
        display: block;
        margin-bottom: 100px;
        padding: 20px 0;
    }
}

button,
button:hover,
button:active,
button:focus {
    background-color: transparent;
    box-shadow: none;
    border: none;
    outline: none;
}

.menu-items {
    display: flex;
    flex-direction: column;
    background-color: #61625b;
    width: 100%;
    top: 20px;
    padding: 20px;
}

.cdk-menu-item {
    color: white;
    outline: none;
}

.cdk-menu-group {
    width: 100vw;
}

.cdk-menu-item {
    border: none;
    text-align: left;
    padding: 10px;
}

.cdk-menu-trigger {
    display: flex;
}