nav a {
    padding: 15px;
    font-weight: bold;
    text-decoration: none;
}

.hamburger-menu {
    display: none;
}

.hamburger-menu.active {
    position: absolute;
    top: 56px;
    background: black;
    z-index: 999;
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 0;
    margin: 0;
    left: 0;

    span {
        padding: 20px;
    }
}