<div class="container">
    <div class="row centered">
        <div class="col-12 col-md-4 cv-foto"></div>
        <div class="col-12 col-md-8 text-md-left text-center">
            <h2>Hi, my name is <span class="accent"><br>Agata Wisniewska</span><br> and I am a Frontend Developer.</h2>
        </div>
    </div>
</div>
<div>
    <div class="baloon first1"></div>
    <div class="baloon second2"></div>
    <div class="baloon third3"></div>
    <div class="baloon fourth4"></div>
    <div class="baloon fifth5"></div>
    <div class="baloon sixth6"></div>
</div>