<div class="container section">
    <div class="row centered">
        <div class="col-12 col-lg-3">
            <div class="cv-foto"></div>
        </div>
        <div class="col-12 col-lg-8 text-lg-left text-center p-0">
            <h2>Hi, my name is <span class="accent"><br>Agata Wisniewska</span><br> and I am a Frontend Developer.</h2>
        </div>
    </div>
</div>
<div class="balloons">
    <div class="balloon first1"></div>
    <div class="balloon second2"></div>
    <div class="balloon third3"></div>
    <div class="balloon fourth4"></div>
    <div class="balloon fifth5"></div>
    <div class="balloon sixth6"></div>
</div>